<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Ahenksan Metal, Aluminium Windows, Anodizing facilities, Crane ">
  <title>Ahenksan Metal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= raw @current_theme_stylesheets %>
</head>

<body>

<!-- Pre-Loader -->
<div id="loader">
  <div class="loading">
    <div></div>
  </div>
</div>

<%= render '/partials/header_top' %>
<%= render '/partials/header' %>

<%= yield %>

<%= render '/partials/footer' %>

<%= raw @current_theme_javascripts %>

</body>
</html>
